<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Your First Django Project{% endblock %}</title>
    
    {% include 'base/css.html' %}
    <style>
      .bg-cfe {
        background-color:#007cae !important;
      }
    </style>
  </head>
  <body>
    {% include 'base/navbar.html' %}
    {% include 'base/messages.html' %}

    <div class="container-fluid">
      {% block content %}

      {% endblock %}
    </div>


    {% include 'base/js.html' %}
  </body>
</html>