<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DEMO: {% block title %}Your First Django Project{% endblock %}</title>
    
    {% include 'base/css.html' %}
    <style>
      .bg-cfe {
        background-color:#007cae !important;
      }
    </style>
  </head>
  <body>
    <div style="margin:0rem; position: relative; top:0px; padding:3rem; border-radius: 0px; background-color: blanchedalmond;width: 100%; color:black">
        <h1>DEMO SITE</h1> 
        <br/>
        <p> Review the code on github <a href="https://github.com/codingforentrepreneurs/Your-First-Django-Project">here</a>.</p>
        <p> Watch the <a href="https://www.codingforentrepreneurs.com/courses/your-first-django-project/">course here</a>. </p>
    </div>

    {% include 'base/navbar.html' %}
    {% include 'base/messages.html' %}

    <div class="container-fluid">
      {% block content %}

      {% endblock %}
    </div>


    {% include 'base/js.html' %}
  </body>
</html>